.container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
}

.bot-trigger-button-container {
    cursor: pointer;
}

.bot-trigger-button {
    border: none;
    border-radius: 0.6rem;
    background-color: lightgreen;
    display: grid;
    padding: 1.5rem;
    font-size: 2rem;
    place-items: center;
    cursor: pointer;
}

.bot-container {
    width: 100%;
    flex: 1;
    margin-bottom: 1rem;
    background-color: #85BB65;
    border-radius: 0.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
    overflow: auto;
    padding: 2rem;
    box-shadow: 0.1rem 0.1rem 1rem grey;
    border: 0.01rem solid grey;
}

@media(max-width: 78rem) {
    .container {
        width: 99%;
    }

    .bot-container {
        width: 100%;
    }
}

.start-call-button {
    width: 100%;
    font-size: 2rem;
    padding: 1rem 4rem;
    background-color: indigo;
    color: white;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

.cut-call-button {
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 4rem;
    background-color: indigo;
    color: white;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

/* @media(max-width: 76rem) {
    .container {
        padding-bottom: 6rem;
    }
} */



/* bot card containers in main page when bot name not available */

.botCardContainers {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;

    padding: 2%;
    background-color: #e6e6e6;
    overflow: auto;
    flex-direction: column;
}

.bots {
    display: flex;
    justify-content: space-between;
}

.bots > div {
    width: 30%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    background-color: white;
    height: auto;
}

.anchor-button {
    padding: 1rem 3rem;
    text-decoration: none;
    color: black;
    border-radius: 0.3rem;
    cursor: pointer;
    background: linear-gradient(to bottom right, pink, cyan);
    font-size: 1.4rem;
    border: 0.01rem solid lightgrey;
}

.bot-images {
    width: 100%;
    height: 20rem;
    contain: content; 
}

@media(max-width: 760px) {

    .bots {
        flex-direction: column;
    }

    .bots > div {
        width: 100%;
        padding: 2rem 2rem 5rem 2rem;
        margin-top: 2rem;
    }

}