.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
}

.bot-trigger-button-container {
    cursor: pointer;
}

.bot-trigger-button {
    border: none;
    border-radius: 0.6rem;
    background-color: lightgreen;
    display: grid;
    padding: 1.5rem;
    font-size: 2rem;
    place-items: center;
    cursor: pointer;
}

.bot-container {
    width: 100%;
    flex: 1;
    margin-bottom: 1rem;
    background-color: #85BB65;
    border-radius: 0.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
    overflow: auto;
    padding: 2rem;
    box-shadow: 0.1rem 0.1rem 1rem grey;
    border: 0.01rem solid grey;
}

@media(max-width: 78rem) {
    .container {
        width: 99%;
    }

    .bot-container {
        width: 100%;
    }
}

.start-call-button {
    width: 100%;
    font-size: 2rem;
    padding: 1rem 4rem;
    background-color: indigo;
    color: white;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

.cut-call-button {
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 4rem;
    background-color: indigo;
    color: white;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

@media(max-width: 76rem) {
    .container {
        padding-bottom: 6rem;
    }
}